language: ruby

rvm:
  - 2.4.9
  - 2.5.7
  - 2.6.5
  - 2.7
  - ruby-head

branches:
  only:
    - master

script: bundle exec rake spec

before_install:
 - gem update bundler

matrix:
  allow_failures:
    - rvm: ruby-head
